# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Folders with models, data
data/
models/
db/

# Folders with private info
*keys*

# mysql cnf files
*.cnf

# emoji2vec
emoji2vec/git*
emoji2vec/results
emoji2vec/data/word2vec
emoji2vec/emoji_mapping.p
emoji2vec/generated_embeddings.p
emoji2vec/pre-trained__/

# sublime ftp
sftp-config.json

# w2v_models
*model.p